.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Streamlit specific folders
/.streamlit/
/teaching/stat845_rdemo/unit2-slr/slr_files
/teaching/stat845_rdemo/unit2-slr/slr_files/figure-html
/teaching/stat845_rdemo/unit3-mlr/residuals_files
