.Rproj.user
.Rhistory
.RData
.Ruserdata
teaching/stat812_rdemo/.DS_Store
.DS_Store
teaching/stat348_rdemo/.DS_Store
.DS_Store
.DS_Store
.DS_Store
doc/.DS_Store
.DS_Store
.DS_Store
.DS_Store
doc/.DS_Store
