.DS_Store

.Rproj.user
.Rhistory
.RData
.Ruserdata
# Streamlit specific folders
/.streamlit/
# ignore latex scratch files
*.pdf
*.aux 
*.log
*.blg
# Ignore quarto scratch files
_freeze/
_cache/
.quarto/
_extensions/
figure-pdf/
