
:root {
  --background:  white/*#e1f5e6#545557/*#87a0d6/*#d6d687/*white/*#a2a3a6/*#303030*/;
  --textcolor: black;
  --linkcolor: BLUE;
  --menubackground:  lightgrey  /* #79a13a/*#4d4d00/*#d6af87*/;
}

body {
  margin-left: 0;
  background: var(--background);
  font-family: Arial;
  /*font-size:14px;*/
  font-weight: normal;
  color: var(--textcolor);
  text-decoration: none;
}

/*
li{
  padding-top: 1em;
  padding-bottom: 0em;
}


p.small {
  line-height: 1.2;
  padding-bottom: 0;
  font-size: 14;
}


p.big {
  line-height: 0;
  padding-left: 20;
  padding-top: 0;
  font-size: 16;
}

*/

a {
  color: var(--linkcolor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

} 


.main {
  color: var(--textcolor);
  font-size: 15px;
  font-family: Helvetica,Arial, sans-serif;

  padding-left: 50px;
  padding-right:50px;
  padding-top: 5px;
/*  margin: 0 auto;*/
  width: 95%;
  max-width: 900px;
  margin-top: 57px;
/*  margin-left:0;*/
/*  margin-right:0;*/
/*  margin-bottom: 0px;*/

  text-align: justify;
  line-height: 1.5em;
  background: var(--background);
  


/*  ßmax-width: 1000px;*/
}



h1{
  font-size: 1.4em;
}

h2{
  font-size: 1.3em;
}

h3{
  font-size: 1.2em;
}

h4{
  font-size: 1.1em;
}
p {
  /* margin-left: 50px; */
  padding-top: 0em;
  padding-left: 0em;
  padding-bottom: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ul{
  margin-left: 0em
  padding-left:2em;
}
ol{
  margin-left: 0em; 
  padding-left:2.5em;
}

p.small {
  font-size: 0.9em;
}

p.big {
   font-size: 1.2em;

}

li{
  margin-bottom: 0.7em;
}
/*
.title  {
  color: MEDIUMBLUE;
  font-size: 24px;
  font-family: Futura;
  background-color: var(--menubackground);
  text-decoration: none;
  text-shadow: 4px 4px 4px #555;
  text-align: left;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 0px;
  padding-left:5px;
  position: fixed;
  top:0;
  left: 0%;
  width: 100%;
  height: 25px;
  text-align: left;


}*/


.topnav {
  font-family: Rockwell;
  width: 100%;
/*  max-width: 900px;*/
  color: royalblue;
  background-color: var(--menubackground);
  /*text-shadow: 4px 4px 4px lightgrey;*/
  font-size: 16px;
  position: fixed;
  top: 0px;
  left: 0%;
  height:60px;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 15px;
  font-weight: bold;
 /* vertical-align: middle; */

  /*border-bottom: solid green;*/

}


.btn {
  /*font-weight: bold;*/

  color: dimgrey;
  border: 0;
  outline: none;
  padding: 5px 5px;
  background-color: var(--menubackground);
  border-radius: 5px 5px 0px 0px;
/*  cursor: default;*/
  font-weight: bold;
  min-width: 80px;
  font-size: 0.9rem;
}


.active {
  color: var(--linkcolor);
  border: 0;
  outline: none;
  padding: 5px 5px;
  background-color: var(--menubackground);
  border-radius: 5px 5px 0px 0px;
/*  font-style: normal;*/
  font-weight: bold;
  min-width: 80px;
  font-size: 0.9rem;
}

/* Style the active class (and buttons on mouse-over) */
.btn:hover{
  border: 1;
  outline: none;
  color: var(--linkcolor);
  padding: 5px 5px;
  background-color: var(--background);
  border-radius: 5px 5px 5px 5px;
/*  font-style: normal;*/
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: underline;
 
}


.button {

  color: black;
  border: 0;
  outline: none;
  padding: 5px 5px;
  background-color: lightgrey;
  border-radius: 5px 5px 5px 5px;
/*  font-style: normal;*/
  font-weight: bold;
  font-size: 0.8rem;
  min-width: 100px;
}


.button:hover {
  color: var(--linkcolor);
  text-decoration: underline;
  background-color: lightcyan;


}

.hidden-block {
  display: none;
/*            padding: 10px;*/
/*            border: 1px solid #ccc;*/
/*            margin-top: 10px;*/
}
.arrow {
  cursor: pointer;
}

