
/* --- 1. Base Box Styling --- */
div.definition, div.example, div.theorem, div.algorithm, div.proof {
  padding: 1em;
  margin-bottom: 1em;
  border-left-width: 5px;
  border-left-style: solid;
  border-radius: 4px;
}

/* --- 2. Color Schemes --- */
div.theorem    { background-color: #eef4fc; border-left-color: #0d6efd; } /* Blue */
div.definition { background-color: #e6ffed; border-left-color: #28a745; } /* Green */
div.proof      { background-color: silver; border-left-color: #444; padding-left: 1em; }
div.example    { background-color: #fff3cd; border-left-color: #ffc107; } /* Yellow */
div.algorithm  { background-color: #f8f9fa; border-left-color: #6c757d; } /* Gray */


/* Case A: Quarto Native Titles (e.g. ::: {#thm-xyz} ) */
span.theorem-title, 
span.proof-title, 
span.example-title, 
span.definition-title {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-style: normal;
  color: #333;
}
