.u-section-1 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  line-height: 1.3;
  font-size: 1.5rem;
  margin: 10px 366px 0 412px;
}

.u-section-1 .u-text-2 {
  margin: 14px 300px 0 441px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 20px 458px 0 441px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 20px 382px 50px 441px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 266px;
    margin-left: 312px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 200px;
    margin-left: 341px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 358px;
    margin-left: 341px;
    width: 241px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 282px;
    margin-bottom: 40px;
    margin-left: 341px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 156px;
    margin-left: 202px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 90px;
    margin-left: 231px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 248px;
    margin-left: 231px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 172px;
    margin-left: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 66px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 141px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 158px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 82px;
    margin-left: 141px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 96px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: -23px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 76px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 23px;
  }
}