.u-section-1 .u-sheet-1 {
  min-height: 282px;
}

.u-section-1 .u-text-1 {
  margin: 50px 680px 0 61px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: -182px 405px 0 494px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: -182px 0 50px 823px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 541px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 305px;
    margin-left: 394px;
    width: 241px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 623px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 321px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 195px;
    margin-left: 284px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 403px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 141px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 105px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 5px;
    margin-left: 94px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 23px;
  }
}