.u-section-1 .u-sheet-1 {
  min-height: 628px;
}

.u-section-1 .u-text-1 {
  margin: 21px 348px 0 393px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 20px 506px 0 393px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 20px 430px 21px 393px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 248px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 406px;
    margin-left: 293px;
    width: 241px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 330px;
    margin-left: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 138px;
    margin-left: 183px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 296px;
    margin-left: 183px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 220px;
    margin-left: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 48px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 206px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 130px;
    margin-left: 93px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 23px;
    margin-left: 0;
  }
}