.u-section-1 .u-sheet-1 {
  min-height: 1310px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  line-height: 1.3;
  font-size: 1.5rem;
  margin: 10px 430px 0 446px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 10px 484px 0 464px;
}

.u-section-1 .u-text-3 {
  margin: -5px 343px 0 464px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0);
  text-decoration: none solid rgb(71, 138, 201);
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-weight: 300;
  margin: 19px 412px 0 464px;
}

.u-section-1 .u-text-5 {
  margin: 0 567px 0 464px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0);
  text-decoration: none solid rgb(71, 138, 201);
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 300;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 12px 430px 0 464px;
}

.u-section-1 .u-text-7 {
  font-weight: 300;
  font-size: 1.125rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-style: italic;
  margin: 0 570px 0 468px;
}

.u-section-1 .u-text-8 {
  width: 216px;
  margin: -2px auto 0;
}

.u-section-1 .u-btn-6 {
  text-align: left;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0);
  text-decoration: none solid rgb(71, 138, 201);
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 300;
  font-size: 1.125rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-style: italic;
  margin: 1px 533px 0 468px;
}

.u-section-1 .u-text-10 {
  margin: -2px 519px 0 464px;
}

.u-section-1 .u-btn-13 {
  text-align: left;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0);
  text-decoration: none solid rgb(71, 138, 201);
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 300;
  font-size: 1.125rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-style: italic;
  margin: 1px 589px 0 468px;
}

.u-section-1 .u-text-12 {
  margin: -2px 470px 0 464px;
}

.u-section-1 .u-btn-17 {
  text-align: left;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0);
  text-decoration: none solid rgb(71, 138, 201);
  padding: 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 300;
  font-size: 1.125rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-style: italic;
  margin: 1px 570px 0 468px;
}

.u-section-1 .u-text-14 {
  margin: 0 502px 0 464px;
}

.u-section-1 .u-btn-23 {
  text-align: left;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0);
  text-decoration: none solid rgb(71, 138, 201);
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-weight: 300;
  font-size: 1.125rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-style: italic;
  margin: 2px 570px 0 469px;
}

.u-section-1 .u-text-16 {
  margin: -2px 518px 0 464px;
}

.u-section-1 .u-btn-26 {
  text-align: left;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0);
  text-decoration: none solid rgb(71, 138, 201);
  padding: 0;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-weight: 300;
  font-size: 1.125rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-style: italic;
  margin: 2px 548px 0 468px;
}

.u-section-1 .u-text-18 {
  font-weight: 300;
  font-size: 1.125rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-style: italic;
  margin: -21px 541px 0 468px;
}

.u-section-1 .u-text-19 {
  margin: 1px 504px 0 464px;
}

.u-section-1 .u-btn-31 {
  text-align: left;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-32 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-20 {
  font-weight: 300;
  font-size: 1.125rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-style: italic;
  margin: 2px 548px 0 468px;
}

.u-section-1 .u-text-21 {
  margin: -1px 521px 0 464px;
}

.u-section-1 .u-btn-33 {
  background-image: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0);
  text-decoration: none solid rgb(71, 138, 201);
  padding: 0;
}

.u-section-1 .u-text-22 {
  font-weight: 300;
  font-size: 1.25rem;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 9px 407px 0 469px;
}

.u-section-1 .u-text-23 {
  margin: 0 467px 33px;
}

.u-section-1 .u-btn-34 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-35 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-36 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 346px;
    margin-right: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 384px;
    margin-left: 364px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 243px;
    margin-left: 364px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 312px;
    margin-left: 364px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 467px;
    margin-left: 364px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 330px;
    margin-left: 364px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 470px;
    margin-left: 368px;
  }

  .u-section-1 .u-text-8 {
    width: 206px;
    margin-top: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: 432px;
    margin-left: 369px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 1px;
    margin-right: 416px;
    margin-left: 364px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 490px;
    margin-left: 367px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-right: 363px;
    margin-left: 364px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 2px;
    margin-right: 470px;
    margin-left: 368px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 402px;
    margin-left: 364px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 3px;
    margin-right: 470px;
    margin-left: 369px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 0;
    margin-right: 411px;
    margin-left: 364px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 1px;
    margin-right: 449px;
    margin-left: 367px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-right: 49px;
    margin-left: 367px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 389px;
    margin-left: 367px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 1px;
    margin-right: 447px;
    margin-left: 369px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: 0;
    margin-right: 294px;
    margin-left: 367px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 10px;
    margin-right: 307px;
    margin-left: 369px;
  }

  .u-section-1 .u-text-23 {
    width: 206px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1308px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-right: 220px;
    margin-left: 236px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: 276px;
    margin-left: 252px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -7px;
    margin-right: 137px;
    margin-left: 250px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-right: 203px;
    margin-left: 253px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 359px;
    margin-left: 252px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 200px;
    margin-left: 250px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 404px;
    margin-left: 255px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 254px;
    margin-left: 250px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 1px;
    margin-right: 327px;
    margin-left: 254px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
    margin-right: 294px;
    margin-left: 252px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 383px;
    margin-left: 254px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 241px;
    margin-left: 252px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 0;
    margin-right: 350px;
    margin-left: 255px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 1px;
    margin-right: 295px;
    margin-left: 251px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -1px;
    margin-right: 395px;
    margin-left: 254px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 232px;
    margin-left: 253px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 341px;
    margin-left: 255px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 328px;
    margin-left: 255px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 281px;
    margin-left: 253px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 0;
    margin-right: 397px;
    margin-left: 255px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 321px;
    margin-left: 254px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 11px;
    margin-right: 321px;
    margin-left: 255px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 259px;
    margin-bottom: 33px;
    margin-left: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1285px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 146px;
    margin-right: 130px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 186px;
    margin-left: 162px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 47px;
    margin-left: 160px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 163px;
    margin-right: 113px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 269px;
    margin-left: 162px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 16px;
    margin-left: 160px;
    margin-right: 110px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -4px;
    margin-right: 301px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 174px;
    margin-left: 161px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 238px;
    margin-left: 163px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 203px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 0;
    margin-right: 292px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 200px;
    margin-left: 163px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -5px;
    margin-right: 258px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -1px;
    margin-right: 219px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -2px;
    margin-right: 304px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -1px;
    margin-right: 223px;
    margin-left: 162px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -2392px;
    margin-right: 94px;
    margin-left: 322px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 2373px;
    margin-right: 253px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -3px;
    margin-right: 191px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -1px;
    margin-right: 254px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 202px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 3px;
    margin-right: 256px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: -1px;
    margin-right: 156px;
    margin-left: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
    margin-right: 56px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 7px;
    margin-right: 86px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -9px;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 9px;
    margin-right: 14px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 169px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 5px;
    margin-right: 56px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -1px;
    margin-right: 204px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -2px;
    margin-right: 92px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 122px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -1px;
    margin-right: 108px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -3px;
    margin-right: 191px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-12 {
    width: 209px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: 0;
    margin-right: 157px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 118px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 172px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 116px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 0;
    margin-right: 148px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -21px;
    margin-right: 148px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 0;
    margin-right: 90px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 148px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 126px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 14px;
    margin-right: 158px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-23 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
  }
}