.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 288px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 10px 635px 0 395px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 10px 263px 20px 299px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 803px;
    margin-left: 295px;
    margin-right: 535px;
  }

  .u-section-1 .u-text-2 {
    width: 543px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 185px;
    margin-right: 425px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 95px;
    margin-right: 335px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 230px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 88px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 18px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 98px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 23px;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 110px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 16px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 129px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 26px;
    margin-bottom: 26px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 812px;
}

.u-section-4 .u-image-1 {
  width: 143px;
  height: 143px;
  background-image: url("images/LLS932-F-Web-Banner-1300x600-B01-04.jpeg");
  background-position: 50% 50%;
  margin: 616px auto 0 488px;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  width: 263px;
  margin: 14px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-4 .u-image-1 {
    width: 126px;
    height: 126px;
    margin-top: 660px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    width: 271px;
    margin-top: 21px;
    margin-bottom: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 703px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin: 15px 205px 15px 244px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-4 .u-image-1 {
    width: 113px;
    height: 113px;
    margin-top: 737px;
  }

  .u-section-4 .u-text-1 {
    width: 263px;
    margin: 12px auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-4 .u-image-1 {
    width: 89px;
    height: 89px;
    margin-top: 812px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 10px;
    margin-bottom: 9px;
  }
}