.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 195px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 13px 967px 0 63px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 7px 63px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 803px;
    margin-left: 0;
    margin-right: 830px;
  }

  .u-section-1 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-right: 610px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-right: 430px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-right: 230px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 45px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 10px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: normal;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 40px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 7px auto;
}.u-section-4 .u-sheet-1 {
  min-height: 763px;
}

.u-section-4 .u-image-1 {
  width: 143px;
  height: 143px;
  background-image: url("images/LLS932-F-Web-Banner-1300x600-B01-04.jpeg");
  background-position: 50% 50%;
  margin: 619px auto 0 69px;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  margin: -118px 52px 60px 825px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 677px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 457px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 77px;
  }
}