.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 130px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  line-height: 1.3;
  font-size: 1.5rem;
  margin: 9px 599px 0 396px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 9px 262px 9px 300px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 499px;
    margin-left: 296px;
  }

  .u-section-1 .u-text-2 {
    width: 543px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 389px;
    margin-left: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 299px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 39px;
    margin-right: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 195px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  min-height: 483px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-weight: normal;
  margin: 11px 211px 0 261px;
}

.u-section-2 .u-group-1 {
  width: 540px;
  margin: 11px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 177px;
    margin-left: 187px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 556px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    width: 580px;
    margin-top: -5px;
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 540px) / 2) + -23px);
    margin-left: calc(((100% - 540px) / 2) + 23px);
  }

  .u-section-2 .u-group-1 {
    min-height: 440px;
    width: 614px;
    margin-top: 0;
    margin-right: calc(((100% - 540px) / 2) + -63px);
    margin-bottom: 11px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 10px;
    margin-right: -265px;
    margin-left: 83px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 440px;
    margin-right: -245px;
    margin-left: 62px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 499px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: 13px 313px 0 367px;
}

.u-section-3 .u-group-1 {
  width: 540px;
  min-height: 439px;
  margin: 7px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 107px;
  height: 107px;
  background-image: url("images/LLS932-F-Web-Banner-1300x600-B01-04.jpeg");
  background-position: 50% 50%;
  margin: -110px auto 0 -31px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  margin: -16px 204px 13px 616px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 205px;
    margin-left: 275px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -106px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 108px;
    margin-left: 512px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 126px;
    margin-left: 134px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 70px;
  }

  .u-section-3 .u-image-1 {
    width: 91px;
    height: 91px;
    margin-top: -104px;
    margin-left: -24px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 16px;
    margin-left: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 14px;
    margin-left: 66px;
  }

  .u-section-3 .u-group-1 {
    min-height: 456px;
    width: 604px;
    margin-left: -32px;
    margin-right: -32px;
  }

  .u-section-3 .u-image-1 {
    width: 83px;
    height: 83px;
    margin-top: -93px;
    margin-left: -11px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -90px;
    margin-left: 310px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -283px;
    margin-left: 101px;
  }

  .u-section-3 .u-group-1 {
    min-height: 441px;
    width: 780px;
    margin-right: -495px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    width: 65px;
    height: 65px;
    margin-top: -66px;
    margin-left: -15px;
  }

  .u-section-3 .u-text-2 {
    margin: -22px -72px 7px 92px;
  }
}