project:
  type: book
  output-dir: .

book:
  title: "Theory of Linear Models"
  output-file: "stat_lin_theory"
  author:
  - name: "Longhai Li"
    affiliation: "University of Saskatchewan"
    url: "https://longhaisk.github.io/"
  date: last-modified
  chapters:
    - index.qmd
    - introlm.qmd
    - lec1-vecspace.qmd
    - lec2-matrix.qmd
    - lec3-mvn.qmd
    - lec4-qf.qmd
    - lec5-est.qmd
    - ginv.qmd
metadata-files:
  - resources/bookstyles.yml
filters:
  - shinylive

