project:
  type: book
  output-dir: .

book:
  title: "Statistical Theory for Linear Models"
  output-file: "stat_lin_theory"
  author:
  - name: "Longhai Li"
    affiliation: "University of Saskatchewan"
    url: "https://longhaisk.github.io/"
  date: last-modified

  chapters:
    - index.qmd
    - introlm.qmd
    - lec2-vecspace.qmd
    - lec3-matrix.qmd
    - lec4-mvn.qmd


execute:
  dir: file
  cache: false
  echo: true
  warning: false
  message: false
  fig-width: 6
  fig-height: 6
  freeze: false
format:
  html:
    theme: cosmo
    self-contained: false
    toc: false
    toc-depth: 3
    format-links: false
    page-layout: full
    code-fold: true
    number-sections: true
    df-print: paged
    highlight-style: tango
    css: resources/mystyles.css
    include-before-body:
       - resources/pagetoc.js
  pdf:
    toc: false
    toc-depth: 1
    number-sections: true
    colorlinks: true
    mainfont: "Times New Roman"
    geometry:
      - top=30mm
      - left=20mm
    include-in-header:
      text: |
        \let\oldrule\rule
        \renewcommand{\rule}[2]{\ifdim#1=0.5\linewidth\hrule\else\oldrule{#1}{#2}\fi}

from: markdown+tex_math_single_backslash+tex_math_dollars



