project:
  type: book
  output-dir: .

book:
  title: "Theory of Linear Models"
  output-file: "stat_lin_theory"
  author:
  - name: "Longhai Li"
    affiliation: "University of Saskatchewan"
    url: "https://longhaisk.github.io/"
  date: last-modified
  chapters:
    - index.qmd
    - introlm.qmd
    - lec1-vecspace.qmd
    - lec2-matrix.qmd
    - lec3-mvn.qmd
    - lec4-qf.qmd
    - lec5-est.qmd
    - ginv.qmd
execute:
  dir: file
  warning: false
  message: false
  fig-width: 6
  fig-height: 6
  cache: true
  freeze: true
format:
  typst:
    # 1. General Settings
    toc: false
    # toc-depth: 1 (Not strictly needed if toc is false, but valid)
    number-sections: true
    echo: false
    
    # 2. Font Settings
    mainfont: "Times New Roman"
    
    # 3. Geometry / Margins (Replaces 'geometry')
    margin:
      top: 25mm
      left: 20mm
      right: 20mm
      
    # 4. Header Inclusions (The "Hacks")
    include-in-header:
      text: |
        // Enable Equation Numbering (Matches your \renewcommand{\[}...)
        #set math.equation(numbering: "(1)")
        
        // Match 'colorlinks: true' (Typst links are black by default)
        #show link: set text(fill: blue)
  html:
    theme: cosmo
    self-contained: false
    toc: true
    toc-depth: 4
    format-links: true
    page-layout: full
    toc-location: left
    echo: true
    code-fold: true
    number-sections: true
    df-print: paged
    highlight-style: tango
    include-in-header:
      text: |
        <link rel="stylesheet" href="resources/mystyles.css">
        <script src="resources/num_eq.js"></script>
  pdf:
    always_allow_html: true
    toc: false
    toc-depth: 1
    number-sections: true
    colorlinks: true
    echo: false
    mainfont: "Times New Roman"
    geometry:
      - top=25mm
      - left=20mm
      - right=20mm
    include-in-header:
      text: |
        \let\oldrule\rule
        \renewcommand{\rule}[2]{\ifdim#1=0.5\linewidth\hrule\else\oldrule{#1}{#2}\fi}
        \renewcommand{\[}{\begin{equation}}
        \renewcommand{\]}{\end{equation}}

from: markdown+tex_math_single_backslash+tex_math_dollars

filters:
  - shinylive

