project:
  type: book
  output-dir: .

book:
  title: "Statistical Theory for Linear Models"
  output-file: "stat_lin_theory"
  author:
  - name: "Longhai Li"
    affiliation: "University of Saskatchewan"
    url: "https://longhaisk.github.io/"
  date: last-modified
  chapters:
    - index.qmd
    - introlm.qmd
    - lec1-vecspace.qmd
    - lec2-matrix.qmd
    - lec3-mvn.qmd

execute:
  dir: file
  cache: false
  warning: false
  message: false
  fig-width: 6
  fig-height: 6
  freeze: true
format:
  html:
    theme: cosmo
    self-contained: false
    toc: true
    toc-depth: 4
    format-links: true
    page-layout: full
    toc-location: left
    echo: true
    code-fold: true
    number-sections: true
    df-print: paged
    highlight-style: tango
    css: resources/mystyles.css
  pdf:
    toc: false
    toc-depth: 1
    number-sections: true
    colorlinks: true
    echo: false
    mainfont: "Times New Roman"
    geometry:
      - top=30mm
      - left=20mm
    include-in-header:
      text: |
        \let\oldrule\rule
        \renewcommand{\rule}[2]{\ifdim#1=0.5\linewidth\hrule\else\oldrule{#1}{#2}\fi}

from: markdown+tex_math_single_backslash+tex_math_dollars

filters:
  - shinylive

